<li class="<%= "orphan" if orphan%>">
  <span><%= link_to @person.name, person_path(@person) %></span>
  <% unless family[:children].empty? %>
    <ul class="child-level">
      <% family[:children].each do |child| %>
        <li>
          <span><%= link_to child.name, person_path(child) %></span>
          <% grandchildren = family[:grandchildren][child.id] %>
          <% if grandchildren %>
            <ul class="grandchild-level">
              <% grandchildren.each do |gchild| %>
                <li>
                  <span><%= link_to gchild.name, person_path(gchild) %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>