<div id="index-container" class="hero content-container">
  <section id="description">
    <p>
      Explore medieval European royalty to see family members and determine distant relationships
    </p>
  </section>

  <form>
    <%= render partial: "person_search" %>
  </form>
  <%= javascript_pack_tag "personSearch" %>
</div>
