@use "@material/button/styles";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import "mixins.scss";


#flash {
  background-color: rgb(156, 29, 12);
  color: #fff;
  padding: 5px;
  z-index: 1000;
  right: 0;
  left: 0;

	@include up-to-medium-phone {
		white-space: wrap;
	}
}



a:hover, button, input[type=submit] {
	cursor: pointer;
}





$background-opaque-mask-color: #ffffff7c;
$form-color: #efe9f8;



.hero:before {
	
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, $background-opaque-mask-color 0%, $background-opaque-mask-color 85%, #fff 100%);
	z-index: -1;
}

.hero:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: image-url("parchment-3.jpeg");
	background-size: 2000px;
	background-position: 0% 0%;
	z-index: -2;
}

.autocomplete-container {
	position: relative;
}




#page-header {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 40px;
}



/*===================
Main Forms
====================*/


#main-form-container h1 {
	text-align: center;
	padding: 20px;
}

#main-form-container .basic-btn {
	align-self: center;
}

#fieldsets-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 350px;
	margin: auto;
	padding: 0 20px;
}

#fieldsets-container fieldset {
	@include fieldset-border;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	background-color: $form-color;
}

#fieldsets-container legend {
	border-radius: 10px;
	background-color: $form-color;
	font-weight: 700;
	padding: 5px;
}

.required::after {
	content: " *";
	color: red;
}


.field label {
	display: block;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-bottom: 5px;
}


.field {
	margin: 10px 10px 30px 10px;
}

.form-line {
	margin-bottom: 10px;
}

.form-line label {
	display: inline;
}

#fieldsets-container input[type=text], 
#fieldsets-container input[type=email],
#fieldsets-container input[type=password] {
	@include basic-input;
}

#fieldsets-container input[type=date] {
	@include basic-input;
	padding: 2px;
	width: auto;
}

#submit-main {
	padding: 10px;
	background-color: $secondary-color;
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 10px gray;
	font-size: 18px;
}