.ascent-tree li {
  list-style: none;
  padding: 0 5px 20px 5px;
}



.ascent-tree ul {
	padding-top: 20px; position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}



/* Left-Right connectors and grandparent connectors*/

.ascent-tree .paternal-grandparents::after{
	content: '';
	position: absolute; bottom: 0; right: 51%;
	border-bottom: 1px solid #ccc;
	width: 42%; height: 20px;
  border-left: 1px solid #ccc;
  border-bottom-left-radius: 5px;
}

.ascent-tree .maternal-grandparents::after{
	content: '';
	position: absolute; bottom: 0; left: 51%;
	border-bottom: 1px solid #ccc;
	width: 42%; height: 20px;
  border-right: 1px solid #ccc;
  border-bottom-right-radius: 5px;
}

/* Parent connectors */

.ascent-tree .paternal-grandparents::before {
  content: '';
	position: absolute; bottom: -20px; right: 51%;

	width: 25%; height: 20px;
  border-right: 1px solid #ccc;
}

.ascent-tree .maternal-grandparents::before {
  content: '';
	position: absolute; bottom: -20px; left: 51%;

	width: 25%; height: 20px;
  border-left: 1px solid #ccc;
}




