@mixin up-to-small-tablet {
  @media (max-width: 699px) { @content; }
}

@mixin for-phone-only {
  @media (max-width: 499px) { @content; }
}

@mixin for-small-tablet-only {
  @media (min-width: 500px) and (max-width: 699px) { @content; }
}

@mixin up-to-medium-phone {
	@media (max-width: 399px) { @content; }
}

@mixin basic-input {
	box-sizing: border-box;
	height: 30px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding-right: 38px;
	padding-left: 5px;
}

@mixin basic-btn {
	display: inline-block;
	box-sizing: border-box;
	background-color: #000;
	font-size: 15px;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
}

@mixin fieldset-border{
  border: 2px solid black;
}


$primary-color: #c9e3f1;
$secondary-color: rgb(226, 205, 148);