@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-small-phone-only {
  @media (max-width: 399px) { @content; }
}

@mixin for-large-phone-only {
  @media (min-width: 400px) and (max-width: 599px) { @content; }
}

@mixin basic-input {
	box-sizing: border-box;
	height: 30px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding-right: 10%;
	padding-left: 5px;
}

@mixin basic-btn {
	display: inline-block;
	box-sizing: border-box;
	background-color: #000;
	font-size: 15px;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
}

@mixin fieldset-border{
  border: 2px solid black;
}