// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

$label-color: #b8dbe5;

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h4 {
	font-weight: 700;
	font-size: 20px;
}

.content-container {
	margin: 10px;
}

.secondary-label {
	position: relative;
	display: block;
	line-height: 30px;
	border-radius: 10px;
	box-shadow: 2px 0 10px #7a7979;
	background-color: $label-color;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
}


/* ===========================
Top Section
=============================== */

#top {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin: auto;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 2px solid #777;
}



#name-banner {
	grid-column: 1 / 10;
	font-family: Apple Chancery, Georgia, 'Times New Roman', Times, serif;
	font-size: 40px;
}

#name-banner h1 {
	display: inline-block;
}

#name-banner span {
	display: inline-block;
	font-size: 30px;
}

#name-banner div {
	font-size: 30px;
}

#relationship {
	margin-top: 10px;
	padding: 5px;
	height: 200px;
	width: 250px;
	grid-column: 10 / 13;
	grid-row: 1 / 3;
	align-self: end;
	border-radius: 5px;
	background-color: #ddd;
}

#relationship h5 {
	margin-bottom: 5px;
	background-color: $label-color;
	box-shadow: none;
}

#relationship input {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 30px;
	width: 100%;
}

#relationship input:focus-visible {
	border: 2px solid $label-color;
	outline: none;
}


#relationship input[type=submit] {
	background: rgb(21, 60, 235);
	color: white;
}

#relationship .autocomplete-input {
	padding-right: 10%;
	padding-left: 5px;
}

#relation-search {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}



#relationship .autocomplete-clear {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 70%;
	right: 3%;
	margin: auto 0;
	border: none;
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
}
#relationship .autocomplete-clear:hover {
	background: #eee;
}

#relationship-info p {
	padding-top: 5px;
}

#relationship-info p h6 {
	font-style: italic;
}

#relationship-info p li {
	position: relative;
	left: 20px;
}

#relations {
	grid-column: 1 / 10;
}

#spouses { 
	margin-top: 10px;
	min-width: 300px;
}


.spouse-list li {
	list-style-type: none;
	margin: 5px 0;
}

.spouse-list li ul {
	display: inline;
	list-style-type: none;
}

.spouse-list li ul li{
	display: inline;
	list-style-type: none;
}

.spouse-list li ul li::after {
	content: ", ";
}



#spouses li ul li:last-child::after {
	content: ")";
}

#ancestors-descendants {
	white-space: nowrap;
	
}

#ancestors-descendants details {
	height: 24px;
}


#ancestors-descendants details > * {
	background-color: #fff;
}

#ancestors-descendants details[open] ul{
	position: relative;
	display: inline-block;
	top: 3px;
	padding: 3px;
	border: 3px solid #689ce9;
	border-radius: 4px;
	z-index: 200;
}


#ancestors-descendants h4 {
	display: inline-block;
}

.relations-list li {
	list-style-type: none;
	margin: 3px;
}

/*
===================================
Family Tree
===================================
*/

$connector-color: #666;
$backdrop-color: #dfdede;
$node-height: 70px;
$connector-length: 20px;

.family-tree-wrapper {
	text-align: center;
	min-width: 100%
}


.family-tree {
  margin: 10px 0;
	padding-bottom: 10px;
  position: relative;
}

.family-tree-liner {
	overflow: scroll;
	text-align: center;
}


.subtrees-container {
	position: relative;
	left: 30px;
	display: inline-block;
	text-align: center;
}


.generations-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.generation {
	box-sizing: border-box;
	height: $node-height + (2 * $connector-length) + 11px;
	padding: 5px;
	margin: 1px;
	background-color: $backdrop-color;
	border-radius: 10px;
}

.generation-label {
	height: 100%;
	width: 30px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	z-index: 100;
}



.spouse-box, .family-tree li span {
	border: 1px solid $connector-color;
	padding: 5px 10px;
	height: $node-height;
	text-decoration: none;
	background-color: #fff;
	font-family: arial, verdana, tahoma;
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: stretch;
	border-radius: 5px;
}

.ascent-tree {
	display: inline-block;
	max-width: 700px;
}



.descent-tree ul {
	position: relative;
  display: flex;
  justify-content: space-around;
	padding-top: $connector-length;
  padding-left: 10px;
  padding-right: 10px;
}



.descent-tree li {
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: $connector-length 5px 0 5px;
}

.family-tree span a {
	color: black;
	display: flex;
	align-items: center;
}

/*First we will handle the generations at or below the subject*/

/*We will use ::before and ::after to draw the connectors*/

.descent-tree li::before, .descent-tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid $connector-color;
	width: 50%; height: $connector-length;
}
.descent-tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid $connector-color;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.descent-tree li:only-child::before {
	display: none;
}





/*Remove left connector from first child and 
right connector from last child*/
.descent-tree li:first-child::before, .descent-tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.descent-tree li:last-child::before {
	border-right: 1px solid $connector-color;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.descent-tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.descent-tree li:only-child::after {
	border-radius: 0;
	border-left: 1px solid $connector-color;
}

/*Time to add downward connectors from parents*/
.descent-tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid $connector-color;
	width: 0; height: $connector-length;
}



.descent-tree .subject-node {
	box-shadow: 0 0 20px yellow inset;
	font-weight: 700;
}

/* We need to handle the generation above the subject differently */

.descent-tree .parents, .descent-tree .orphan {
	padding-top: 0;
}

.descent-tree .parents::after, .descent-tree .orphan::after {
	height: 0;
}


.parents-node a, .grandparents-node a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 0 5px
}

.parents-node a:first-child, .grandparents-node a:first-child {
	border-right: 1px solid black;
}

.parents-node a:only-child, .grandparents-node a:only-child {
	border: none;
}


.ascent-tree li {
  list-style: none;
  padding: 0 5px $connector-length 5px;
}



.ascent-tree ul {
	padding-top: $connector-length; position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}




/* Left-Right connectors and grandparent connectors*/

.ascent-tree .paternal-grandparents::after{
	content: '';
	position: absolute; bottom: 0; right: 70%;
	border-bottom: 1px solid $connector-color;
	width: 5%; height: $connector-length;
  border-left: 1px solid $connector-color;
  border-bottom-left-radius: 5px;
}

.ascent-tree .maternal-grandparents::after{
	content: '';
	position: absolute; bottom: 0; left: 70%;
	border-bottom: 1px solid $connector-color;
	width: 5%; height: $connector-length;
  border-right: 1px solid $connector-color;
  border-bottom-right-radius: 5px;
}

/* Parent connectors */

.ascent-tree .paternal-grandparents::before {
  content: '';
	position: absolute; bottom: -$connector-length; right: 65%;

	width: 5%; height: $connector-length;
	border-top: 1px solid $connector-color;
  border-right: 1px solid $connector-color;
	border-top-right-radius: 5px;
}

.ascent-tree .maternal-grandparents::before {
  content: '';
	position: absolute; bottom: -$connector-length; left: 65%;

	width: 5%; height: $connector-length;
	border-top: 1px solid $connector-color;
  border-left: 1px solid $connector-color;
	border-top-left-radius: 5px;
}



.ascent-tree .grandparents-single-parent {
	justify-content: space-around;
}


.ascent-tree .grandparents-single-parent li::after {
	display: none;
}

.ascent-tree .grandparents-single-parent li::before {
	width: 0;
	height: 0;
	height: ($connector-length * 2);
	left: 50%;
}

.ascent-tree .only-paternal {
	display: block;
	position: relative;
	right: 33%;
}

.ascent-tree .only-paternal li::after {
	right: 50%;
}

.ascent-tree .only-paternal li::before {
	right: 45%;
}

.ascent-tree .only-maternal {
	display: block;
	position: relative;
	left: 33%;
}

.ascent-tree .only-maternal li::after {
	left: 50%;
}

.ascent-tree .only-maternal li::before {
	left: 45%;
}














