// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


$connector-color: #666;
$backdrop-color: #dfdede;
$node-height: 70px;
$connector-length: 20px;

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.family-tree {
  margin: 50px 0; padding: 0;
  position: relative;
	display: inline-block;
  min-width: 250px;
	
}

.family-tree-container {
	width: 100vw;
	overflow: scroll;
	text-align: center;
}


.subtrees-container {
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: ($connector-length / 2);
}


.generations-backdrop {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
}

.generation {
	box-sizing: border-box;
	height: $node-height + (2 * $connector-length) + 11px;
	padding: 5px;
	margin: 1px;
	background-color: $backdrop-color;
	border-radius: 10px;
}

.generation-label {
	position: relative;
	display: block;
	height: 100%;
	width: 30px;
	line-height: 30px;
	border-radius: 10px;
	box-shadow: 2px 0 10px rgb(122, 121, 121);
	writing-mode: vertical-rl;
	background-color: hsl(194, 47%, 81%);
	text-orientation: mixed;
	z-index: 100;
	font-size: 15px;
	text-align: center;
}

.ascent-tree {
	display: inline-block;
	max-width: 700px;
}






.descent-tree ul {
	position: relative;
  display: flex;
  justify-content: space-around;
	padding-top: $connector-length;
  padding-left: 10px;
  padding-right: 10px;
}



.descent-tree li {
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: $connector-length 5px 0 5px;
}

.family-tree span a {
	color: black;
}

/*First we will handle the generations at or below the subject*/

/*We will use ::before and ::after to draw the connectors*/

.descent-tree li::before, .descent-tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid $connector-color;
	width: 50%; height: $connector-length;
}
.descent-tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid $connector-color;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.descent-tree li:only-child::before {
	display: none;
}





/*Remove left connector from first child and 
right connector from last child*/
.descent-tree li:first-child::before, .descent-tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.descent-tree li:last-child::before {
	border-right: 1px solid $connector-color;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.descent-tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.descent-tree li:only-child::after {
	border-radius: 0;
	border-left: 1px solid $connector-color;
}

/*Time to add downward connectors from parents*/
.descent-tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid $connector-color;
	width: 0; height: $connector-length;
}

.family-tree li span {
	border: 1px solid $connector-color;
	padding: 5px 10px;
	height: $node-height;
	text-decoration: none;
	background-color: #fff;
	font-family: arial, verdana, tahoma;
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.descent-tree .subject-node {
	box-shadow: 0 0 20px yellow inset;
	font-weight: 700;
}

/* We need to handle the generation above the subject differently */

.descent-tree .parents, .descent-tree .orphan {
	padding-top: 0;
}

.descent-tree .parents::after, .descent-tree .orphan::after {
	height: 0;
}

.parents-node a, .grandparents-node a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 20px 5px
}

.parents-node a:first-child, .grandparents-node a:first-child {
	border-right: 1px solid black;
}

.parents-node a:only-child, .grandparents-node a:only-child {
	border: none;
}


.ascent-tree li {
  list-style: none;
  padding: 0 5px $connector-length 5px;
}



.ascent-tree ul {
	padding-top: $connector-length; position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}




/* Left-Right connectors and grandparent connectors*/

.ascent-tree .paternal-grandparents::after{
	content: '';
	position: absolute; bottom: 0; right: 70%;
	border-bottom: 1px solid $connector-color;
	width: 5%; height: $connector-length;
  border-left: 1px solid $connector-color;
  border-bottom-left-radius: 5px;
}

.ascent-tree .maternal-grandparents::after{
	content: '';
	position: absolute; bottom: 0; left: 70%;
	border-bottom: 1px solid $connector-color;
	width: 5%; height: $connector-length;
  border-right: 1px solid $connector-color;
  border-bottom-right-radius: 5px;
}

/* Parent connectors */

.ascent-tree .paternal-grandparents::before {
  content: '';
	position: absolute; bottom: -$connector-length; right: 65%;

	width: 5%; height: $connector-length;
	border-top: 1px solid $connector-color;
  border-right: 1px solid $connector-color;
	border-top-right-radius: 5px;
}

.ascent-tree .maternal-grandparents::before {
  content: '';
	position: absolute; bottom: -$connector-length; left: 65%;

	width: 5%; height: $connector-length;
	border-top: 1px solid $connector-color;
  border-left: 1px solid $connector-color;
	border-top-left-radius: 5px;
}



.ascent-tree .grandparents-single-parent {
	justify-content: space-around;
}


.ascent-tree .grandparents-single-parent li::after {
	display: none;
}

.ascent-tree .grandparents-single-parent li::before {
	width: 0;
	height: 0;
	height: ($connector-length * 2);
	left: 50%;
}

.ascent-tree .only-paternal {
	display: block;
	position: relative;
	right: 33%;
}

.ascent-tree .only-paternal li::after {
	right: 50%;
}

.ascent-tree .only-paternal li::before {
	right: 45%;
}

.ascent-tree .only-maternal {
	display: block;
	position: relative;
	left: 33%;
}

.ascent-tree .only-maternal li::after {
	left: 50%;
}

.ascent-tree .only-maternal li::before {
	left: 45%;
}












